sudo : false

matrix:
        include:     
        -language: java
        jdk: oraclejdk8        
        script : -mvn clean install

        -language: node_js
         before_script: cd Twitter-Informatics-UI
         script: npm run build
