sudo: false

matrix:
  include:
    - language: java
      jdk: oraclejdk8
      script: mvn clean install
    - language: node_js
      before_script:
      - cd Twitter-Informatics-UI
      - rm -rf node_modules  
      - npm install
      script: npm run build
