#app {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(55, 59, 59);
    margin: 0 auto;
}

/* Give some gap at the top of header */
.myHeader {
    text-align: center;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 900; 
    line-height: 26.4px;
    background-color:rgba(139, 176, 233, 0.596);
    margin: 15px 0 0 0;
    height:70px ;
}

.maintextheader {
    
    padding-top: 15px;
}

.sideInfo {
    
}

.split {
    height: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    margin: 100px 0 0 0;
    width: 25%;
    left: 10;
    background-color:rgba(77, 150, 62, 0.5);
    opacity: 20;
}

.right {
    margin: 100px 15px 0 0;
    width: 71%;
    right: 0;
    background-color:rgba(219, 233, 92, 0.5);
    opacity: 20;
    padding-right: 20px;
}

.maintext1 {
    color: rgba(248, 242, 240, 0.986);
    text-align: center;
    font-family: "Bookman Old Style";
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

.maintext2 {
    color: rgba(36, 70, 182, 0.5);
    font-size: 18px;
}

.mysidetable tbody tr td {
    color: rgba(8, 7, 3, 0.589);
    font-family: "Bookman Old Style";
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}

.mySearch {
    width: 50%;
    margin: 20% auto;
    text-align: center;
}

.myTextBox{
    font-size: 20px;
    height: 35px;
    border-radius: 5px;
}

.mySearchButton{
    font-size: 18px !important;
    height: 40px !important;
    
}
